$mainColor : #8d3b65;
$contrastColor : #5a609b;
$mainLightColor: #f8f8f8;
$mainWarnColor: #e8d8e0;
$fontAlmoni: almoni-dl;
$openSansHebrew : open-sans-hebrew;
$tinyHeaders:  #dedfeb;

//screen resolutions
$small:768px;
$medium:992px;
$large:1200px;
